[Unit]
Description=Cloudflare Tunnel for kobo-send

[Service]
ExecStart=%h/.bin/cloudflared tunnel --config %h/.cloudflared/config.yml run
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
